export PWA_DIR="~/pwa"
export GIT_REF="refs/heads/development"
export PORT="3420"
export WEBHOOKS_SECRET="get it from https://github.com/vientos/vientos-pwa/settings/hooks"
export TLS_KEY_PATH="~/localhost.key"
export TLS_CERT_PATH="~/localhost.cert"
